_*_.tex
*.fdb_latexmk
*.fls

starpu-1.2-stencils/.*
starpu-1.2-stencils/build*
starpu-1.2-stencils/auto/
starpu-1.2-stencils/doc/
starpu-1.2-stencils/examples/
starpu-1.2-stencils/gcc-plugin/
starpu-1.2-stencils/include/
starpu-1.2-stencils/m4/
starpu-1.2-stencils/mpi/
starpu-1.2-stencils/sc_hypervisor/
starpu-1.2-stencils/socl/
starpu-1.2-stencils/src/
starpu-1.2-stencils/starpu-top/
starpu-1.2-stencils/starpufft/
starpu-1.2-stencils/tests/
starpu-1.2-stencils/tools/
starpu-1.2-stencils/AUTHORS
starpu-1.2-stencils/COPYING.LGPL
starpu-1.2-stencils/ChangeLog
starpu-1.2-stencils/INSTALL
starpu-1.2-stencils/Makefile.am
starpu-1.2-stencils/README
starpu-1.2-stencils/README.dev
starpu-1.2-stencils/STARPU-VERSION
starpu-1.2-stencils/TODO
starpu-1.2-stencils/autogen.sh
starpu-1.2-stencils/configure.ac
starpu-1.2-stencils/libstarpu-mic.pc.in
starpu-1.2-stencils/libstarpu.pc.in
starpu-1.2-stencils/mic-configure
starpu-1.2-stencils/starpu-1.0-mic.pc.in
starpu-1.2-stencils/starpu-1.0.pc.in
starpu-1.2-stencils/starpu-1.1.pc.in
starpu-1.2-stencils/starpu-1.2.pc.in
starpu-1.2-stencils/starpu.mk
starpu-1.2-stencils/output-for-real/
starpu-1.2-stencils/output/
