_*_.tex
*.fdb_latexmk
*.fls

starpu-1.2-stencils/.*
starpu-1.2-stencils/build*
starpu-1.2-stencils/auto/
starpu-1.2-stencils/doc/
starpu-1.2-stencils/examples/
starpu-1.2-stencils/gcc-plugin/
starpu-1.2-stencils/include/
starpu-1.2-stencils/m4/
starpu-1.2-stencils/mpi/
starpu-1.2-stencils/sc_hypervisor/
starpu-1.2-stencils/socl/
starpu-1.2-stencils/src/
starpu-1.2-stencils/starpu-top/
starpu-1.2-stencils/starpufft/
starpu-1.2-stencils/tests/
starpu-1.2-stencils/tools/
